In [1]:
import pandas as pd
df1=pd.read_csv("../input/amex-default-prediction/train_data.csv",nrows=500000)

df1.shape

(500000, 190)

In [2]:
df2=pd.read_csv("../input/amex-default-prediction/train_labels.csv",nrows=500000)

df2.head()

                                         customer_ID  target
0  0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...       0
1  00000fd6641609c6ece5454664794f0340ad84dddce9a2...       0
2  00001b22f846c82c51f6e3958ccd81970162bae8b007e8...       0
3  000041bdba6ecadd89a52d11886e8eaaec9325906c9723...       0
4  00007889e4fcd2614b6cbe7f8f3d2e5c728eca32d9eb8a...       0

In [3]:
df=pd.merge(df1,df2,on="customer_ID")
df.head()

,customer_ID,S_2,P_2,D_39,B_1,B_2,R_1,S_3,D_41,B_3,...,D_137,D_138,D_139,D_140,D_141,D_142,D_143,D_144,D_145,target
0,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-03-09,0.938469,0.001733,0.008724,1.006838,0.009228,0.124035,0.008771,0.004709,...,NaN,NaN,0.002427,0.003706,0.003818,NaN,0.000569,0.000610,0.002674,0
1,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-04-07,0.936665,0.005775,0.004923,1.000653,0.006151,0.126750,0.000798,0.002714,...,NaN,NaN,0.003954,0.003167,0.005032,NaN,0.009576,0.005492,0.009217,0
2,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-05-28,0.954180,0.091505,0.021655,1.009672,0.006815,0.123977,0.007598,0.009423,...,NaN,NaN,0.003269,0.007329,0.000427,NaN,0.003429,0.006986,0.002603,0
3,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-06-13,0.960384,0.002455,0.013683,1.002700,0.001373,0.117169,0.000685,0.005531,...,NaN,NaN,0.006117,0.004516,0.003200,NaN,0.008419,0.006527,0.009600,0
4,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-07-16,0.947248,0.002483,0.015193,1.000727,0.007605,0.117325,0.004653,0.009312,...,NaN,NaN,0.003671,0.004946,0.008889,NaN,0.001670,0.008126,0.009827,0

In [4]:
df.D_41.isna().sum()

181

In [5]:
import re
dd=df.columns.tolist()
ff=[]
for x in dd:
  if re.findall("D_\d+",x):
    ff.append(x)
print(ff)

['D_39', 'D_41', 'D_42', 'D_43', 'D_44', 'D_45', 'D_46', 'D_47', 'D_48', 'D_49', 'D_50', 'D_51', 'D_52', 'D_53', 'D_54', 'D_55', 'D_56', 'D_58', 'D_59', 'D_60', 'D_61', 'D_62', 'D_63', 'D_64', 'D_65', 'D_66', 'D_68', 'D_69', 'D_70', 'D_71', 'D_72', 'D_73', 'D_74', 'D_75', 'D_76', 'D_77', 'D_78', 'D_79', 'D_80', 'D_81', 'D_82', 'D_83', 'D_84', 'D_86', 'D_87', 'D_88', 'D_89', 'D_91', 'D_92', 'D_93', 'D_94', 'D_96', 'D_102', 'D_103', 'D_104', 'D_105', 'D_106', 'D_107', 'D_108', 'D_109', 'D_110', 'D_111', 'D_112', 'D_113', 'D_114', 'D_115', 'D_116', 'D_117', 'D_118', 'D_119', 'D_120', 'D_121', 'D_122', 'D_123', 'D_124', 'D_125', 'D_126', 'D_127', 'D_128', 'D_129', 'D_130', 'D_131', 'D_132', 'D_133', 'D_134', 'D_135', 'D_136', 'D_137', 'D_138', 'D_139', 'D_140', 'D_141', 'D_142', 'D_143', 'D_144', 'D_145']

In [6]:
sd1=[]
sd2=[]
for x in dd:
    sd1.append(x)
    sd2.append(df[x].isna().sum())
print(sd1,"|",sd2)

['customer_ID', 'S_2', 'P_2', 'D_39', 'B_1', 'B_2', 'R_1', 'S_3', 'D_41', 'B_3', 'D_42', 'D_43', 'D_44', 'B_4', 'D_45', 'B_5', 'R_2', 'D_46', 'D_47', 'D_48', 'D_49', 'B_6', 'B_7', 'B_8', 'D_50', 'D_51', 'B_9', 'R_3', 'D_52', 'P_3', 'B_10', 'D_53', 'S_5', 'B_11', 'S_6', 'D_54', 'R_4', 'S_7', 'B_12', 'S_8', 'D_55', 'D_56', 'B_13', 'R_5', 'D_58', 'S_9', 'B_14', 'D_59', 'D_60', 'D_61', 'B_15', 'S_11', 'D_62', 'D_63', 'D_64', 'D_65', 'B_16', 'B_17', 'B_18', 'B_19', 'D_66', 'B_20', 'D_68', 'S_12', 'R_6', 'S_13', 'B_21', 'D_69', 'B_22', 'D_70', 'D_71', 'D_72', 'S_15', 'B_23', 'D_73', 'P_4', 'D_74', 'D_75', 'D_76', 'B_24', 'R_7', 'D_77', 'B_25', 'B_26', 'D_78', 'D_79', 'R_8', 'R_9', 'S_16', 'D_80', 'R_10', 'R_11', 'B_27', 'D_81', 'D_82', 'S_17', 'R_12', 'B_28', 'R_13', 'D_83', 'R_14', 'R_15', 'D_84', 'R_16', 'B_29', 'B_30', 'S_18', 'D_86', 'D_87', 'R_17', 'R_18', 'D_88', 'B_31', 'S_19', 'R_19', 'B_32', 'S_20', 'R_20', 'R_21', 'B_33', 'D_89', 'R_22', 'R_23', 'D_91', 'D_92', 'D_93', 'D_94', 'R_24', 'R_25', 'D_96', 'S_22', 'S_23', 'S_24', 'S_25', 'S_26', 'D_102', 'D_103', 'D_104', 'D_105', 'D_106', 'D_107', 'B_36', 'B_37', 'R_26', 'R_27', 'B_38', 'D_108', 'D_109', 'D_110', 'D_111', 'B_39', 'D_112', 'B_40', 'S_27', 'D_113', 'D_114', 'D_115', 'D_116', 'D_117', 'D_118', 'D_119', 'D_120', 'D_121', 'D_122', 'D_123', 'D_124', 'D_125', 'D_126', 'D_127', 'D_128', 'D_129', 'B_41', 'B_42', 'D_130', 'D_131', 'D_132', 'D_133', 'R_28', 'D_134', 'D_135', 'D_136', 'D_137', 'D_138', 'D_139', 'D_140', 'D_141', 'D_142', 'D_143', 'D_144', 'D_145', 'target'] | [0, 0, 4094, 0, 0, 181, 0, 93007, 181, 181, 427672, 149891, 24926, 0, 181, 0, 0, 109675, 0, 64781, 450414, 15, 0, 2114, 283708, 0, 0, 0, 2619, 27254, 0, 369418, 0, 0, 0, 181, 0, 93007, 0, 0, 16848, 271285, 4435, 0, 0, 265094, 0, 9557, 0, 53567, 591, 0, 68285, 0, 19661, 0, 181, 282688, 0, 181, 444058, 181, 19442, 0, 0, 0, 0, 17423, 181, 8395, 0, 2073, 0, 0, 494964, 0, 1812, 0, 444189, 0, 0, 227981, 591, 181, 24926, 6622, 0, 471218, 0, 1812, 0, 0, 181, 2311, 365748, 0, 3, 0, 0, 17423, 0, 0, 2619, 0, 464967, 181, 0, 0, 499705, 0, 0, 499402, 0, 0, 0, 0, 0, 8, 0, 181, 2619, 0, 0, 14091, 0, 0, 0, 0, 0, 0, 1674, 22, 1641, 1220, 77, 3638, 8900, 8900, 272358, 450788, 8900, 0, 8, 445466, 11454, 181, 497365, 164, 496906, 496906, 496687, 258, 7, 127237, 15753, 15753, 15753, 15753, 15753, 15753, 15753, 15753, 15753, 15753, 15753, 15753, 15753, 10458, 0, 8900, 8900, 80, 493847, 8900, 8900, 450663, 3822, 0, 482411, 482411, 482411, 482411, 482411, 8900, 3636, 8900, 414011, 8900, 3651, 8900, 0]

In [7]:
dic=pd.DataFrame(list(zip(sd1,sd2)))
dic.head()

             0     1
0  customer_ID     0
1          S_2     0
2          P_2  4094
3         D_39     0
4          B_1     0

In [8]:
sel=dic[~(dic[1]>500)][0].tolist()
df1=df[sel]

In [9]:
df1.head()

,customer_ID,S_2,D_39,B_1,B_2,R_1,D_41,B_3,B_4,D_45,...,B_36,B_37,B_38,D_109,D_112,B_40,D_127,B_41,R_28,target
0,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-03-09,0.001733,0.008724,1.006838,0.009228,0.008771,0.004709,0.080986,0.708906,...,0.009968,0.004572,2.0,0.004326,1.007336,0.210060,1.003319,0.006805,0.001535,0
1,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-04-07,0.005775,0.004923,1.000653,0.006151,0.000798,0.002714,0.069419,0.712795,...,0.003921,0.004654,2.0,0.008707,1.007653,0.184093,1.008394,0.004407,0.004931,0
2,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-05-28,0.091505,0.021655,1.009672,0.006815,0.007598,0.009423,0.068839,0.720884,...,0.001264,0.019176,2.0,0.004092,1.004312,0.154837,1.009307,0.003221,0.009123,0
3,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-06-13,0.002455,0.013683,1.002700,0.001373,0.000685,0.005531,0.055630,0.723997,...,0.002729,0.011720,2.0,0.009703,1.002538,0.153939,1.001671,0.007703,0.002409,0
4,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-07-16,0.002483,0.015193,1.000727,0.007605,0.004653,0.009312,0.038862,0.720619,...,0.009998,0.017598,2.0,0.009120,1.000130,0.120717,1.009886,0.009823,0.004462,0

In [10]:
df2=df[["customer_ID",'P_2', 'P_3', 'P_4']]

In [11]:
df=pd.merge(df2,df1,on="customer_ID")

In [12]:
df=df[~((df.B_1<0)&(df.target==1))]

In [13]:
df=df[~((df.B_37<0)&(df.target==1))]

In [14]:
df[((df.B_40<0)&(df.target==0))]

Empty DataFrame
Columns: [customer_ID, P_2, P_3, P_4_x, S_2, D_39, B_1, B_2, R_1, D_41, B_3, B_4, D_45, B_5, R_2, D_47, B_6, B_7, D_51, B_9, R_3, B_10, S_5, B_11, S_6, D_54, R_4, B_12, S_8, R_5, D_58, B_14, D_60, S_11, D_63, D_65, B_16, B_18, B_19, B_20, S_12, R_6, S_13, B_21, B_22, D_71, S_15, B_23, P_4_y, D_75, B_24, R_7, B_26, R_8, S_16, R_10, R_11, B_27, S_17, R_12, B_28, R_13, R_14, R_15, R_16, B_30, S_18, D_86, R_17, R_18, B_31, S_19, R_19, B_32, S_20, R_20, R_21, B_33, R_22, R_23, D_92, D_93, D_94, R_24, R_25, D_96, S_23, S_26, B_36, B_37, B_38, D_109, D_112, B_40, D_127, B_41, R_28, target]
Index: []

[0 rows x 98 columns]

In [15]:
df.target.unique()

array([0, 1])

In [16]:
df=df[~((df.P_2.isna())&(df.target==1))]

In [17]:
df.P_3.isna().sum()

239241

In [18]:
df.drop("P_3",axis=1,inplace=True)

In [19]:
df.head()

,customer_ID,P_2,P_4_x,S_2,D_39,B_1,B_2,R_1,D_41,B_3,...,B_36,B_37,B_38,D_109,D_112,B_40,D_127,B_41,R_28,target
0,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,0.938469,0.007554,2017-03-09,0.001733,0.008724,1.006838,0.009228,0.008771,0.004709,...,0.009968,0.004572,2.0,0.004326,1.007336,0.210060,1.003319,0.006805,0.001535,0
1,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,0.938469,0.007554,2017-04-07,0.005775,0.004923,1.000653,0.006151,0.000798,0.002714,...,0.003921,0.004654,2.0,0.008707,1.007653,0.184093,1.008394,0.004407,0.004931,0
2,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,0.938469,0.007554,2017-05-28,0.091505,0.021655,1.009672,0.006815,0.007598,0.009423,...,0.001264,0.019176,2.0,0.004092,1.004312,0.154837,1.009307,0.003221,0.009123,0
3,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,0.938469,0.007554,2017-06-13,0.002455,0.013683,1.002700,0.001373,0.000685,0.005531,...,0.002729,0.011720,2.0,0.009703,1.002538,0.153939,1.001671,0.007703,0.002409,0
4,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,0.938469,0.007554,2017-07-16,0.002483,0.015193,1.000727,0.007605,0.004653,0.009312,...,0.009998,0.017598,2.0,0.009120,1.000130,0.120717,1.009886,0.009823,0.004462,0

In [20]:
df.P_2.fillna(0,inplace=True)

In [21]:
df=df[~((df.P_2<0)&(df.target==1))]

In [22]:
df.columns

Index(['customer_ID', 'P_2', 'P_4_x', 'S_2', 'D_39', 'B_1', 'B_2', 'R_1',
       'D_41', 'B_3', 'B_4', 'D_45', 'B_5', 'R_2', 'D_47', 'B_6', 'B_7',
       'D_51', 'B_9', 'R_3', 'B_10', 'S_5', 'B_11', 'S_6', 'D_54', 'R_4',
       'B_12', 'S_8', 'R_5', 'D_58', 'B_14', 'D_60', 'S_11', 'D_63', 'D_65',
       'B_16', 'B_18', 'B_19', 'B_20', 'S_12', 'R_6', 'S_13', 'B_21', 'B_22',
       'D_71', 'S_15', 'B_23', 'P_4_y', 'D_75', 'B_24', 'R_7', 'B_26', 'R_8',
       'S_16', 'R_10', 'R_11', 'B_27', 'S_17', 'R_12', 'B_28', 'R_13', 'R_14',
       'R_15', 'R_16', 'B_30', 'S_18', 'D_86', 'R_17', 'R_18', 'B_31', 'S_19',
       'R_19', 'B_32', 'S_20', 'R_20', 'R_21', 'B_33', 'R_22', 'R_23', 'D_92',
       'D_93', 'D_94', 'R_24', 'R_25', 'D_96', 'S_23', 'S_26', 'B_36', 'B_37',
       'B_38', 'D_109', 'D_112', 'B_40', 'D_127', 'B_41', 'R_28', 'target'],
      dtype='object')

In [23]:
df.to_csv("america_predict.csv")

In [24]:
x=df.drop("target",axis=1)
y=df.target